* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,77,123);
    background: linear-gradient(45deg, rgba(0,77,123,1) 0%, rgba(4,23,40,1) 58%, rgba(161,6,78,1) 100%);
}

.container {
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-areas: "input input input input"
                         "btnSum btnSub btnMulti btnDiv"
                         "btn1 btn2 btn3 btnPonto"
                         "btn4 btn5 btn6 btnEqual"
                         "btn7 btn8 btn9 btnEqual"
                         "btn0 btn0 btnC btnEqual";
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    gap: 1rem;
    border-radius: 10px;
    border: solid 2px #3cbae4;
}

.container input {
    grid-area: input;
    padding: 0 1rem;
    text-align: right;
    font-size: 24px;
}

.container button {
    font-size: 20px;
    color: #F3F2F7;
    background-color: #0a212d;
}

.container button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.container button:nth-child(-n + 11) {
    border: solid 1px #d151c6;
}

.container button:nth-last-child(-n + 7) {
    border: solid 1px #45CFFD;
}

.container input, button {
    outline-style: none;
    border-radius: 5px;
    font-family:'Trebuchet MS', sans-serif;
}

.container button:disabled {
    opacity: 0.5;
}

#btn1 {
    grid-area: btn1;
}

#btn2 {
    grid-area: btn2;
}

#btn3 {
    grid-area: btn3;
}

#btn-sum {
    grid-area: btnSum;
}

#btn4 {
    grid-area: btn4;
}

#btn5 {
    grid-area: btn5;
}

#btn6 {
    grid-area: btn6;
}

#btn-sub {
    grid-area: btnSub;
}

#btn7 {
    grid-area: btn7;
}

#btn8 {
    grid-area: btn8;
}

#btn9 {
    grid-area: btn9;
}

#btn-multi {
    grid-area: btnMulti;
}

#btnC {
    grid-area: btnC;
}

#btn0 {
    grid-area: btn0;
}

#btnEqual {
    grid-area: btnEqual;
}

#btn-div {
    grid-area: btnDiv;
}

#btn-ponto {
    grid-area: btnPonto;
}

@media screen and (max-width: 350px) {
    .container {
        grid-template-columns: 40px 40px 40px 40px;
        grid-template-rows: 40px 40px 40px 40px 40px 40px;
        gap: 0.7rem;
    }

    .container input {
        font-size: 18px;
    }
}